@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0  py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    Access denied
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <p class="text-danger">You do not have access to this resource.</p>
                </div>
            </div>
        </div>
    </div>
</div>