@page
@model ResendEmailConfirmationModel
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0  py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    Resend email confirmation
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <h3 class="border-bottom pb-3 mb-4 text-secondary text-center">Enter your email.</h3>
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
